.scrollable-menu {
    max-height: 200px;
    overflow-x: hidden;
}

/*#build-btn{
  margin: 10px;
}*/

#build-btn {
    border: 1px solid #ff4081;
    background-color: white;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
    color: #ff4081
}

#build-btn:hover {
    background: #ff4081;
    color: white;
}


#build-container-existing{
    margin: 0 10px 10px;
}

#build-container-new{
    margin: 10px 10px 10px -15px;
}

#build-container-train{
    margin-left: -15px;
}


#add-task-ul-existing{
    margin-left: 60px;
}

#add-task-ul-new{
    margin-left: 10px;
}

#add-task-ul-train{
    margin-left: 0;
}

.highlight-task{
    /*color: #ff4081;*/
    background-color: #ffbfff !important;
}
